<!DOCTYPE html>
<html>
<head>
  <title>Playback</title>
  <a href="http://127.0.0.1:3030">
  <img class = "logo-img" src='https://i.ibb.co/xGNJ5Qx/summar-AIze.png'
  title="Go back to the upload page" width='200' ALIGN = CENTER alt="align box">
  </img></a>
</head>
<style>

.logo-img{
  float: left;
  position: relative;
  margin: 10px 10px 0px 10px;
  border-radius: 5px;
}
  body{
    background-color: #282c34;
  }

  h2{
  color: #78cf93;
  font-family: 'Trebuchet MS';
  text-align: center;
  font-weight: 300;
} 
</style>

<body>
  <br><br><br><br>
  <h2>Here's your summarAIzed video:</h2>
  <h2><video width="1000" height="600" name = "summaryVid" controls>
    <source src="2.mp4"; type="video/mp4">
    Your browser does not support the video tag.
  </video></h2>
</body>
</html>
